<h1>WFC</h1>

<div class="input-group mb-3">
    <input id="wfc-input" class="form-control" style="font-family: Monospace">
    <button type="button" class="btn btn-primary" onclick="submit()">
        Submit!
    </button>
</div>

<div class="container" style="background: #ddd">
    <pre id="wfc-output-pre" style="font-family: Monospace"><code id="wfc-output-code"></code></pre>
</div>

<script type="text/javascript">
    var i = 1;

    function update_textbox(sub, resp)
    {
        var x = document.getElementById('wfc-output-code').innerHTML;
        var y = '';
        // y += "wfc[" + i + "]&gt; ";
        y += "wfc&gt; ";
        y += sub;
        y += "\n";
        y += resp;
        y += "\n";
        y += x;
        document.getElementById('wfc-output-code').innerHTML = y;
        i = i + 1;
    }

    async function submit()
    {
        let submission = document.getElementById('wfc-input').value;
        let options = {method: 'POST', body: submission};
        let response = await fetch('/wfc-strparse', options);
        let result = await response.text();
        update_textbox(submission, result);
    }

    // For "submit on enter"
    // https://stackoverflow.com/questions/14542062/eventlistener-enter-key
    document
        .getElementById('wfc-input')
        .addEventListener('keypress',
                function (e)
                {
                    if (e.key === 'Enter')
                    {
                        submit();
                    }
                }
            );
</script>
