<h1 id="title">Video: How to install Erlang and ZX on a fresh Ubuntu 18.04 (March 2021)</h1>

<p id="author">DoctorAjayKumar</p>

<p>
    This is more or less a video version of
    <a href="http://zxq9.com/archives/1797">
        Craig's blog post on the matter.
    </a>
</p>

<h5>Video</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/KQZc7EB8BVY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h5>Links</h5>

<ul>
    <li>
        <a href="https://www.bitchute.com/video/XLc8xBWZ0Ckf/">
            BitChute
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=KQZc7EB8BVY">
            YouTube
        </a>
    </li>
    <li>
        <a href="http://zxq9.com/projects/zomp/qs.install.en.html">
            Install Erlang and ZX (zomp documentation)
        </a>
    </li>
    <li>
        <a href="https://zxq9.com/archives/1797">
            zxq9 Blog post on installing Erlang and ZX
        </a>
    </li>
    <li>
        <a href="https://zxq9.com/archives/1882">
            Craig's blog post on Erltris (part 1)
        </a>
    </li>
    <li>
        <a href="https://zxq9.com/archives/1886">
            Craig's blog post on Erltris (part 2)
        </a>
    </li>
    <li>
        <a href="https://zxq9.com/archives/1894">
            Craig's blog post on Erltris (part 3)
        </a>
    </li>
    <li>
        <a href="https://gitlab.com/zxq9/erltris">
            Erltris repo
        </a>
    </li>
    <li>
        <a href="https://rumble.com/vdp0b1-erlang-writing-a-tetris-clone-part-1-data-types-and-basic-gui-display.html">
            Erltris video 1
        </a>
    </li>
    <li>
        <a href="https://rumble.com/vdp0qv-erlang-writing-a-tetris-clone-part-2-gameplay-mechanics.html">
            Erltris video 2
        </a>
    </li>
    <li>
        <a href="https://rumble.com/vdp1in-erlang-writing-a-tetris-clone-part-3-gameplay-rules-final-features-and-depl.html">
            Erltris video 3
        </a>
    </li>
</ul>
