<h1 id="title">Video: why does long division work?</h1>

<p id="author">DoctorAjayKumar</p>

<p>
    No weird corner cases or proofs. Once you see what the tabular approach is
    doing algebraically, the rest is obvious.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/i_H5J1DFlTM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Links</h5>

<ul>
    <li>
        <a href="https://www.bitchute.com/video/Jfk13sfYnxKI/">
            BitChute
        </a>
    </li>
    <li>
        <a href="https://youtu.be/i_H5J1DFlTM">
            YouTube
        </a>
    </li>
</ul>
