<h1 id="title">
    Video: Geopol: Mutual capacity for violence is the root of negotiation
</h1>

<p id="author">zxq9</p>

<p>
    This video addresses violence as the root of negotiation, how that
    allows trust patterns to emerge, aggression signals convert to trust
    signals, and from there the foundations of civil society are laid.
</p>

<script>!function(r,u,m,b,l,e){r._Rumble=b,r[b]||(r[b]=function(){(r[b]._=r[b]._||[]).push(arguments);if(r[b]._.length==1){l=u.createElement(m),e=u.getElementsByTagName(m)[0],l.async=1,l.src="https://rumble.com/embedJS/u4"+(arguments[1].video?'.'+arguments[1].video:'')+"/?url="+encodeURIComponent(location.href)+"&args="+encodeURIComponent(JSON.stringify([].slice.apply(arguments))),e.parentNode.insertBefore(l,e)}})}(window, document, "script", "Rumble");</script>

<div id="rumble_vbvx7d"></div>
<script>
Rumble("play", {"video":"vbvx7d","div":"rumble_vbvx7d"});</script>

<h5>Links</h5>

<ul>
    <li>
        <a href="https://rumble.com/vei3dh-geopol-the-mutual-capacity-for-violence-is-the-root-of-negotiation.html">
            Rumble
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=qdLj5A0_m2M">
            YouTube
        </a>
    </li>
</ul>
