<h1 id="title">
    Video: How to solve a circuit using algebraic topology
    (intro to homology theory)
</h1>

<p id="author">DoctorAjayKumar</p>

<p>
    Basic example of using homology to solve a simple circuit. This
    is an insane way to solve this problem by hand. However, if you
    were writing a computer program to solve circuits, this would be
    a good place to start.
<p>

</p>

<h5>Video</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/pEUqfEc-x8M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Links</h5>

<ul>
    <li>
        <a href="https://www.bitchute.com/video/zSAo27J8LAZq/">
            BitChute
        </a>
    </li>
    <li>
        <a href="https://youtu.be/pEUqfEc-x8M">
            YouTube
        </a>
    </li>
</ul>
